*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --bg-color: #000000;
  --text-color: #FFFFFF;
  --button-bg-color: #8A2BE2;

  font-size: 62.5%; /* 1rem = 10px */
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  font-family: sans-serif;

  font-size: 1.6rem; /* 16px */
}

#container{
  margin-top: 10rem; /* 100px */
  width: 80%;
  max-width: 40rem; /* 400px */
  margin-inline: auto;
}

h1{
  margin-top: 4rem; /* 40px */
  margin-bottom: 1rem;
  opacity: 0.9;
}

p{
  margin-bottom: 4rem;
  opacity: 0.7;

  font-size: 1.4rem;
}

input, button{
  display: block;
  width: 100%;
  padding: 2rem;
  font-size: 2rem;
  border-radius: .4rem; /* 4px */
}

input{
  margin-bottom: 2rem;
}

button{
  border: none;
  background-color: var(--button-bg-color);
  color: var(--text-color);
  transition: filter .3s;
}

button:hover{
  filter: brightness(1.2);
  cursor: pointer;
}

#resposta{
  margin-top: 3rem; 
  transition: opacity .1s;
}

#resposta div{
  font-size: 1.6rem;  
  font-weight: normal;
  opacity: 0.9;
  margin-bottom: 1rem;
}